name: Run unit tests
on: {"pull_request"}
env: {"DEBIAN_FRONTEND": "noninteractive"}
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: proget.hunterwittenborn.com/docker/makedeb/makedeb-alpha:ubuntu-focal
      options: --user root
    steps:
      - name: Install CI prerequisites
        run: sudo -E apt-get install git -y

      - name: Checkout Git repository
        uses: actions/checkout@v3

      - name: Run unit tests
        run: |
          sudo chown 'makedeb:makedeb' ./ -R
          .drone/scripts/setup-pbmpr.sh
          sudo apt-get install cargo libssl-dev pkg-config -y
          cargo fmt --check
          cargo clippy -- -D warnings

# vim: expandtab ts=2 sw=2
